html {
    scroll-behavior: smooth;
  }

body {
    margin: 0; 
    font-family: "Helvetica Neue"
}

.header-content{
    display: flex;
    justify-content: center;
    border: 1px solid;
    margin-bottom: 50px;
}

.artist-info {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 50%;
    flex-direction: column;
    margin: 0 auto;
}

.box {
    border: 1px solid;
    width: 1000px;
    height: 500px;
    position: relative;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#documentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#documentation > div {
    width: 1000px;
}


#svg-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


#button {
    background-color: #85F4FF; 
    border: none;
    border-radius: 6px;
    color: black;
    padding: 16px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}


#button:hover {
    background-color: #2cedff; 
}
#button:active {
    background-color: #29b9c6; 
}

    


#triangle {
    transform: rotate(0deg);
    -webkit-tranform: rotate(0deg);
    -moz-transform: rotate(0deg);
    fill-opacity: 1;
    animation: linear;
    animation-name: changeTriangle;
    animation-duration: 3s;
    transform-origin: center center;
    animation-iteration-count: infinite;
}

@keyframes changeTriangle {
    from {
        transform: rotate(0deg);
        -webkit-tranform: rotate(0deg);
        -moz-transform: rotate(0deg);

    }
    to {
        transform: rotate(360deg);
        -webkit-tranform: rotate(360deg);
        -moz-transform: rotate(360deg);


    }
}

@media only screen and (max-width: 1200px) {
    .box {
        width: 400px;
        height: 200px;
    }
    canvas {
        width: 400px;
    }
    #documentation > div{
        width: 70%;
    }
    
}

@media only screen and (max-width: 500px){
    .box {
        width: 300px;
        height: 150px;
    }
    canvas {
        width: 300px;
    }
    .artist-info {
        width: 300px;
    }
    #documentation > div{
        width: 70%;
    }
    
}


